section#hero {
    margin: 0;
    position: relative;
    height: 100vh;
    color: var(--white);

    .hero-content {
        padding: var(--whitespace);
        position: relative;
        z-index: 3;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        display: flex;
    }

    #soccer-video {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(116, 202, 35, 0.2);
        z-index: 2;
    }
}

section#introduction {

    div {
        margin: 3rem 0;
    }

    p {
        display: block;
        max-width: 50vw;
        font-size: 1.5rem;
    }
}

@keyframes spin {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

section#club {

    .carousel {
        overflow: hidden;
        width: 100%;
        position: relative;
        display: flex;
        gap: 0 2rem;
        margin: var(--whitespace) 0;
    }

    .carousel::before,
    .carousel::after {
        content: "";
        top: 0;
        position: absolute;
        width: 50px;
        height: 100%;
        z-index: 2;
        pointer-events: none;
    }

    .carousel::before {
        left: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
    }

    .carousel::after {
        right: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
    }

    .group {
        display: flex;
        gap: 0 2rem;
        animation: spin 35s infinite linear;

        article {
            text-align: center;
            flex: 0 0 100px;
            display: flex;
            flex-direction: column;
            z-index: 1;

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
                display: block;
            }
        }
    }
}

section#key-numbers {
    div {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        article {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            max-width: 250px;
            padding: 2rem;
            aspect-ratio: 1;

            background-color: var(--black);
            border-radius: var(--corner-radius);
            color: var(--white);

            h3 {
                font-size: 2rem;
            }

            p {
                font-size: 1.25rem;
                line-height: 1.4;
            }
        }
    }
}

section#download {
    background-color: var(--black);
    color: var(--white);
    margin: var(--whitespace) 0;
    padding: var(--whitespace);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    form {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        input[type="checkbox"] {
            width: fit-content;
            vertical-align: middle;
        }

        button {
            background-color: var(--white);
            color: var(--black);
            border-style: none;
            margin-top: 1rem;
            width: 30%;
        }
    }
}



footer {
    display: flex;

    div {
        border-right: 1px solid black;
        padding-right: var(--whitespace);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;

        img {
            width: 64px;
        }

        p:last-child {
            text-align: end;
        }
    }

    address {
        font-style: unset;
        padding-left: var(--whitespace);
        flex-grow: 2;

        p {
            font-size: 1.25rem;
            margin-bottom: 1.25rem;
        }
    }
}

@media screen and (width >=600px) {
    section#hero {
        .hero-content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:
                "state state ."
                "bottom-left . bottom-right"
            ;

            #state {
                grid-area: state;
            }

            #made-by {
                grid-area: bottom-left;
                align-self: flex-end;
            }

            #year {
                grid-area: bottom-right;
                text-align: right;
                align-self: flex-end;
            }
        }
    }

    section#key-numbers {
        div {
            grid-template-columns: 1fr 1fr;

            article {
                max-width: 300px;
            }
        }
    }
}