section#hero {
    margin: 0;
    position: relative;
    height: 100vh;
    color: var(--white);

    .hero-content {
        padding: var(--whitespace);
        position: relative;
        z-index: 3;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        display: flex;
    }

    #soccer-video {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(116, 202, 35, 0.2);
        z-index: 2;
    }
}

section#introduction {

    div {
        margin: 3rem 0;
    }

    p {
        display: block;
        max-width: 50vw;
        font-size: 1.5rem;
    }
}

section#key-numbers {
    div {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;

        article {
            min-height: 200px;
            padding: 2rem;
            text-align: center;
            aspect-ratio: 1;
            background-color: var(--black);
            color: var(--white);
            flex: 0 0 300px;
            align-content: space-around;

            p,
            h3 {
                display: block;
            }
        }
    }
}

@keyframes spin {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

section#club {

    .carousel {
        overflow: hidden;
        width: 100%;
        position: relative;
        display: flex;
        gap: 0 2rem;
        margin: var(--whitespace) 0 ;
    }

    .carousel::before,
    .carousel::after {
        content: "";
        top: 0;
        position: absolute;
        width: 50px;
        height: 100%;
        z-index: 2;
        pointer-events: none;
    }

    .carousel::before {
        left: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
    }

    .carousel::after {
        right: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
    }

    .group {
        display: flex;
        gap: 0 2rem;
        animation: spin 35s infinite linear;

        article {
            text-align: center;
            flex: 0 0 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            z-index: 1;

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
                display: block;
            }
        }
    }
}

section#key-numbers > div {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

section#key-numbers > div > article {
    width: 300px;
}


section#key-numbers article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section#key-numbers article h3 {
    margin-top: 0.5rem;
}


section#key-numbers article p {
    margin-bottom: 1.5rem;
}



section#key-numbers article h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    margin-top: 0.5rem;
}

section#key-numbers article p {
    font-size: 1rem;
    line-height: 1.4;
    max-width: 220px;
    text-align: center;

    margin-top: auto;
    margin-bottom: auto;
}

@media screen and (width >=600px) {
    section#hero {
        .hero-content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:
                "state state ."
                "bottom-left . bottom-right"
            ;

            #state {
                grid-area: state;
            }

            #made-by {
                grid-area: bottom-left;
                align-self: flex-end;
            }

            #year {
                grid-area: bottom-right;
                text-align: right;
                align-self: flex-end;
            }
        }
    }
}
